[Desktop Entry]
Encoding=UTF-8
Name=Link to slides-git/practical-hooks.markdown at gh-pages · themouette/slides-git
Type=Link
URL=https://github.com/themouette/slides-git/blob/gh-pages/practical-hooks.markdown
Icon=text-html
